html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;

  font-size: 16px;
  text-align: left;
  font-family: "Helvetica", sans-serif;
  color: #3c4858;
  background-color: transparent;
  text-align: left;

  background-image: url("/img/jumbotron.jpg");
  background-color: #333;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

input[type="text"] {
  font-size: 1em;
  padding: 0.5em;
  border-radius: 0.5em;
  border-width: 1px;
}

button {
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  font-family: "Helvetica", sans-serif;
  color: #ffffff;
  background-color: #3180f7;
  border-radius: 0.5em;
  border-width: 0px;
  width: 100%;
  text-align: center;
}

button:hover {
  filter: brightness(150%);
}

button:active {
  filter: brightness(50%);
}

.brevo-container {
  box-sizing: border-box;
  border-radius: 0.5em;
  box-shadow: 0 0 48px rgba(0, 0, 0, 0.25);
}

.brevo-header {
  margin: 0;
  font-size: 32px;
  text-align: left;
  font-weight: 700;
  font-family: "Georgia", serif;
  color: #3c4858;
  background-color: transparent;
  text-align: center;
}

.brevo-text {
  margin: 0;
}

.brevo-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.brevo-error {
  color: #c11d1d;
}

.brevo-error-message {
  border-radius: 0.5em;
  box-sizing: border-box;
  background: #ffe4e4;
  border-color: #c11d1d;
  color: #c11d1d;
}

.brevo-success-message {
  border-radius: 0.5em;
  box-sizing: border-box;
  background: #e4ffe4;
  border-color: #169a16;
  color: #169a16;
}

.main {
  min-height: 100%;
  box-sizing: border-box;
  width: fit-content;
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  box-shadow: 0 0 48px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  margin: 24px 12px;
  padding: 24px;
  border-radius: 0.5em;
}
